---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Jan 12 2026')}
>
		<p>東京の大きめな会社でソフトウェアエンジニアをしてます。<br>
			主な業務内容はマーケティング用データ基盤の開発・保守をしています。
			新卒二年目のひよっこです。<br>

			技術スタック: Python, Go, SQL, Kubernetes, GCP
		</p>

</Layout>
