---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi there!</h1>
			<p>
				Welcome to my blog.<br>
				This blog is where I organize what I learn through work and self-study,
				not only in engineering, but also in life.
			</p>
		</main>
		<Footer />
	</body>
</html>
